{% load static %}
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        
    </head>
    <body>
                <div class="col d-flex justify-content-center mt-5 mb-2">
                    <div class="card w-50 center">
                        <div class="card-header text">
                            <h5>Sign Up</h5>
                        </div>
            
                        <div class="card-body">

                            <form method="POST" action="{% url 'signup' %}">{% csrf_token %}

                                <div class="form-group mt-2">
                                  <label for="user"><b>Username</b></label>
                                  <input type="text" class="form-control mt-1" id="user" name="user" placeholder="Username">
                                </div>
                                <div class="form-group my-3">
                                  <label for="pass"><b>Password</b></label>
                                  <input type="password" class="form-control mt-1" id="pass" name="pass" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary my-1">Create Account</button>
                                <a href="{% url 'login' %}" class="btn btn-success my-1 mx-2">Already have an account? Click here to log in.</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }} d-inline me-5"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>